{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}
{% load extra_tags %}
{% load mathfilters %}

{% block body_block %}

    <section class="row">

        <div class="col-lg-8 col-md-10 col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        		<div class="card">
        			<div class="card-header pb-1 bg-dark">
        				<h2 class="white" id="basic-layout-icons">
        				    <a href="" class="white">
        				        Add/Edit Entry
        				    </a>
        				</h2>
        			</div>
        			<div class="card-content collapse show pink">
        				<div class="card-body">

                            <form class="form">
                              <div class="form-body">
                                <div class="row">
                                    <div class="col-md-6 col-12">
                                        {{ form.media }}

                                        <h4 class="mb-0">General Fields</h4>
                                        <hr class="mt-0">

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Transaction Date</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.trans_date|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-calendar"></i>
                                                        </div>
                                                      </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Form No.</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.form_no|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-clipboard"></i>
                                                        </div>
                                                      </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">POR Tracking No.</label>
                                          <div class="position-relative">
                                            {{form.base_por|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Transaction By</label>
                                          <div class="position-relative">
                                            {{form.transaction_by|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Project Site</label>
                                          <div class="position-relative">
                                            {{form.project_site|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Amount</label>
                                                  <div class="position-relative has-icon-left">
                                                    {{form.debit|add_class:"form-control"}}
                                                    <div class="form-control-position">
                                                      <i class="la la-money"></i>
                                                    </div>
                                                  </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Quantity</label>
                                                  <div class="position-relative has-icon-left">
                                                    {{form.quantity|add_class:"form-control"}}
                                                    <div class="form-control-position">
                                                      <i class="la la-money"></i>
                                                    </div>
                                                  </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Item</label>
                                          <div class="position-relative">
                                            {{form.item|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-10 col-12">
                                                  <label for="timesheetinput1">Supplier</label>
                                                  <div class="position-relative">
                                                    {{form.supplier|add_class:"form-control"}}
                                                  </div>
                                                </div>
                        						<div class="form-group col-md-2 col-12">
                        							<label for="timesheetinput1">Utang?</label>
                                                  <div class="position-relative">
                                                    {{form.utang|add_class:"form-control"}}
                                                  </div>
                        						</div>
                                            </div>
                                        </div>



                                    </div>

                                    <div class="col-md-6 col-12">
                                        <h4 class="mb-0">Accounting Related Fields</h4>
                                        <hr class="mt-0">

                                        <div class="well">
                                            <div class="row">
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Type</label>
                                                  <div class="position-relative has-icon-left">
                                                    {{form.entry_type|add_class:"form-control"}}
                                                    <div class="form-control-position">
                                                      <i class="la la-money"></i>
                                                    </div>
                                                  </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Status</label>
                                                  <div class="position-relative has-icon-left">
                                                    {{form.status|add_class:"form-control"}}
                                                    <div class="form-control-position">
                                                      <i class="la la-money"></i>
                                                    </div>
                                                  </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-8 col-12">
                                                  <label for="timesheetinput1">Account Code</label>
                                                  <div class="position-relative">
                                                    {{form.account_code|add_class:"form-control"}}
                                                  </div>
                                                </div>
                        						<div class="form-group col-md-2 col-12">
                        							<label for="timesheetinput1">Debit?</label>
                                                  <div class="position-relative">
                                                    {{form.entry_debit|add_class:"form-control"}}
                                                  </div>
                        						</div>
                        						<div class="form-group col-md-2 col-12">
                        							<label for="timesheetinput1">Credit?</label>
                                                  <div class="position-relative">
                                                    {{form.entry_credit|add_class:"form-control"}}
                                                  </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-10 col-12">
                                                  <label for="timesheetinput1">Subcon</label>
                                                  <div class="position-relative has-icon-left">
                                                    {{form.subcon|add_class:"form-control"}}
                                                    <div class="form-control-position">
                                                      <i class="la la-user"></i>
                                                    </div>
                                                  </div>
                                                </div>
                        						<div class="form-group col-md-2 col-12">
                        							<label for="timesheetinput1">Vat?</label>
                                                  <div class="position-relative">
                                                    {{form.vat|add_class:"form-control"}}
                                                  </div>
                        						</div>
                                            </div>
                                        </div>

                                        <h4 class="mb-0">Remarks/Details</h4>
                                        <hr class="mt-0">

                						<div class="form-group">

                                          <div class="position-relative has-icon-left">
                                            {{form.remarks|add_class:"form-control"}}
                                            <div class="form-control-position">
                                              <i class="la la-file"></i>
                                            </div>
                                          </div>
                                        </div>

                                        <h4 class="mb-0">Attachment</h4>
                                        <hr class="mt-0">

                                        <div class="form-group">
                							<label id="projectinput7" class="file center-block">
                								{{form.attachment}}
                								<span class="file-custom"></span>
                							</label>
                						</div>

                                        <div class="form-group">
                                            {{form.incoming_vat|attr:"hidden"|add_class:"form-control"}}
                                            {{form.vatable_sales|attr:"hidden"|add_class:"form-control"}}

                                            {{form.created_at|attr:"hidden"|add_class:"form-control"}}
                                            {{form.updated_at|attr:"hidden"|add_class:"form-control"}}
                                            {{form.created_by|attr:"hidden"|add_class:"form-control"}}
                                            {{form.modified_by|attr:"hidden"|add_class:"form-control"}}
                                        </div>

                                    </div>
        						</div>
                              </div>

                              <div class="form-actions right">
                                <button type="submit" class="btn btn-pink"><i class="la la-check-square-o"></i> Submit</button>
                              </div>

                            </form>

        				</div>
        			</div>
        		</div>
    		</form>
    	</div>

    </section>

{% endblock body_block %}