{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}

{% block body_block %}
    <div class="content-body">

        <div class="col-md-6">
			<div class="card success" style="height: 500px;">
				<div class="card-header">
					<h4 class="card-title" id="basic-layout-form">Upload Utilization Report</h4>
					<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
					<div class="heading-elements">
						<ul class="list-inline mb-0">
							<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="card-content collapse show">
					<div class="card-body">
						<div class="alert alert-warning border-0 mb-2" role="alert">
							<strong>Warning!</strong> Make sure you are uploading a CSV file with proper format!
						</div>
                        {% if messages %}
                            {% for message in messages %}
                                <div>
                                    <strong>{{message|safe}}</strong>
                                </div>
                            {% endfor %}
                        {% else %}
                        {{order}}
                        <form method="post" enctype="multipart/form-data">
                            <hr>
                            {% csrf_token %}
                            <label>Upload the CSV file</label>
                            <input type="file" name="file">
                            <hr>
                            <div class="text-right">
                                <button type="submit" class="btn btn-primary">Upload</button>
                            </div>
                        </form>
                        {% endif %}
                        <div class="bs-callout-primary callout-border-left callout-bordered mt-1 p-1">
                            <h4 class="primary">Note!</h4>
                            <hr>
                            <p> - Upload CSV file with maximum of 100 rows</p>
                            <p> - Make sure your CSV file are properly formatted</p>
                            <p> - for best results, make sure your internet connection is stable</p>
                            <p> - Always double check your data after upload.</p>
                        </div>
					</div>
				</div>
			</div>
		</div>

    </div>


{% endblock %}
