{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}
{% load extra_tags %}
{% load mathfilters %}

{% block body_block %}

    <section class="row">

        <div class="col-lg-6 col-md-8 col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        		<div class="card">
        			<div class="card-header pb-1 bg-dark">
        				<h2 class="white" id="basic-layout-icons">
        				    <a href="" class="white">
        				        Add/Edit File Document
        				    </a>
        				</h2>
        			</div>
        			<div class="card-content collapse show pink">
        				<div class="card-body">

                            <form class="form">
                              <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        {{ form.media }}
                                        {{ form.errors }}
                                        <h4 class="mb-0">General Fields</h4>
                                        <hr class="mt-0">

                                        <div class="form-group">
                                          <label for="timesheetinput1">Title</label>
                                          <div class="position-relative">
                                            {{form.document_title|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Document Type</label>
                                          <div class="position-relative">
                                            {{form.document_type|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Date Issued</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.issued_date|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-calendar"></i>
                                                        </div>
                                                      </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Expiry Date</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.expiry_date|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-clipboard"></i>
                                                        </div>
                                                      </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Scanned Document</label>
                                          <div class="position-relative">
                                            {{form.doc_image|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Status</label>
                                          <div class="position-relative">
                                            {{form.status|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Remarks</label>
                                          <div class="position-relative">
                                            {{form.remarks|add_class:"form-control"}}
                                          </div>
                                        </div>

                                    </div>
        						</div>
                              </div>

                              <div class="form-actions right">
                                <button type="submit" class="btn btn-pink"><i class="la la-check-square-o"></i> Submit</button>
                              </div>

                            </form>

        				</div>
        			</div>
        		</div>
    		</form>
    	</div>

    </section>

{% endblock body_block %}