{% extends "base_print.html" %}
{% load staticfiles %}
{% load humanize %}

{% block body_block %}
    <div>

        <section class="card">
        	<div id="invoice-template" class="card-body">
        		<!-- Invoice Company Details -->
        		<div id="invoice-company-details" class="row">
        			<div class="col-md-8 col-sm-12 text-center text-md-left">
        				<div class="media">
        					<img src="{% static "app-assets/images/ico/AIP-Logo-(128x128).png" %}" alt="company logo" class=""/>
        					<div class="media-body">
        						<ul class="ml-2 px-0 list-unstyled">
        							<li class="text-bold-800">AIP Construction</li>
        							<li>Unit 111-B, EGI Albergo Hotel</li>
        							<li>#1 Villamor Drive, Barangay Lualhati</li>
        							<li>Baguio City, Philippines 2600</li>
        							<li>TeleFax: (074) 424-6179, (074) 483-0373</li>
        						</ul>
        					</div>
        				</div>
        			</div>
        			<div class="col-md-4 col-sm-12 text-center text-md-right">
        				<h2>Item History</h2>
        				<h3 class="danger">{{warehouse_detail.item}}</h3>
        			</div>
        		</div>
        		<!--/ Invoice Company Details -->

        		<!-- Invoice Customer Details -->


        		<div class="pt-2">
        		    <!--<p class="lead info">Incoming<a href="{% url 'admin:warehouse_incoming_change' warehouse_detail.id %}" target="_blank"><i class="la la-pencil"></i></a></p>-->
        			<div class="row">
        				<div class="table-responsive col-sm-12">
                            <table class="table table-hover table-middle table-l mb-0">
                                <thead class="bg-blue-grey bg-lighten-4">
                                    <tr>
                                        <th class="border-top-0">Date</th>
                                        <th class="border-top-0">Tracking No</th>
                                        <th class="border-top-0">Form No</th>
                                        <th class="border-top-0">Item</th>
                                        <th class="border-top-0">Quantity</th>
                                        <th class="border-top-0">Unit</th>
                                        <th class="border-top-0">Project Site</th>
                                        <th class="border-top-0">Details</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td class="text-truncate">{{ warehouse_detail.trans_date }}</td>
                                        <td class="info">{{ warehouse_detail.trans_no }}</td>
                                        <td class="info">{{ warehouse_detail.form_no }}</td>
                                        <td class="text-truncate">{{ warehouse_detail.item }}</td>
                                        <td class="text-truncate">{{ warehouse_detail.quantity }}</td>
                                        <td class="text-truncate">{{ warehouse_detail.item.item_unit }}</td>
                                        <td class="text-truncate">{{ warehouse_detail.project_site }}</td>
                                        <td class="text-truncate">{{ warehouse_detail.details }}</td>
                                    </tr>
                                </tbody>
                            </table>
        				</div>
        			</div>
        		</div>

        		<div class="pt-2">
        		    <p class="lead warning">Outgoing - Warehouse Widthdrawals</p>
        			<div class="row">
        				<div class="table-responsive col-sm-12">
                            <table class="table table-hover table-middle table-l mb-0">
                                <thead class="bg-blue-grey bg-lighten-4">
                                    <tr>
                                        <th class="border-top-0">Date</th>
                                        <th class="border-top-0">WWf No</th>
                                        <th class="border-top-0">Project Site</th>
                                        <th class="border-top-0">Quantity</th>
                                        <th class="border-top-0">Unit</th>
                                        <th class="border-top-0">Released To</th>
                                        <th class="border-top-0">Released Out</th>
                                        <th class="border-top-0">Body No</th>
                                        <th class="border-top-0">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in outgoing.all %}
                                    <tr>
                                        <td class="text-truncate">{{ transaction.trans_date }}</td>
                                        <td class="text-truncate">{{ transaction.form_no }}</td>
                                        <td class="info">{{ transaction.project_site }}</td>
                                        <td class="text-truncate">{{ transaction.quantity }}</td>
                                        <td class="text-truncate">{{ transaction.item.item_unit }}</td>
                                        <td class="text-truncate danger">{{ transaction.released_to }}</td>
                                        <td class="text-truncate danger">{{ transaction.released_out }}</td>
                                        <td class="text-truncate danger">{{ transaction.unit }}</td>
                                        <td class="text-truncate">{{ transaction.details }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        				</div>

        			</div>
        		</div>

        		<div class="pt-2">
        		    <p class="lead warning">Outgoing - Transfers</p>
        			<div class="row">
        				<div class="table-responsive col-sm-12">
                            <table class="table table-hover table-middle table-l mb-0">
                                <thead class="bg-blue-grey bg-lighten-4">
                                    <tr>
                                        <th class="border-top-0">Date</th>
                                        <th class="border-top-0">WWf No</th>
                                        <th class="border-top-0">Project Site</th>
                                        <th class="border-top-0">Quantity</th>
                                        <th class="border-top-0">Unit</th>
                                        <th class="border-top-0">Released For</th>
                                        <th class="border-top-0">Released Out</th>
                                        <th class="border-top-0">Body No</th>
                                        <th class="border-top-0">Details</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for transaction in transfers.all %}
                                    <tr>
                                        <td>{{ transaction.trans_date }}</td>
                                        <td class="text-truncate">{{ transaction.form_no }}</td>
                                        <td class="info">{{ transaction.project_site }}</td>
                                        <td class="text-truncate">{{ transaction.quantity }}</td>
                                        <td class="text-truncate">{{ transaction.item.item_unit }}</td>
                                        <td class="text-truncate danger">{{ transaction.released_to }}</td>
                                        <td class="text-truncate danger">{{ transaction.released_out }}</td>
                                        <td class="text-truncate danger">{{ transaction.unit }}</td>
                                        <td class="text-truncate">{{ transaction.details }}</td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
        				</div>

        			</div>
        		</div>


        	</div>
        </section>

    </div>


{% endblock %}
