{% extends "base.html" %}
{% load staticfiles %}
{% load humanize %}
{% load widget_tweaks %}
{% load extra_tags %}
{% load mathfilters %}

{% block body_block %}

    <section class="row">

        <div class="col-lg-6 col-md-8 col-12">
            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
        		<div class="card">
        			<div class="card-header pb-1 bg-dark">
        				<h2 class="white" id="basic-layout-icons">
        				    <a href="" class="white">
        				        Add/Edit Outgoing
        				    </a>
        				</h2>
        			</div>
        			<div class="card-content collapse show pink">
        				<div class="card-body">

                            <form class="form">
                              <div class="form-body">
                                <div class="row">
                                    <div class="col-md-12 col-12">
                                        {{ form.media }}

                                        <h4 class="mb-0">Incoming Details</h4>
                                        <hr class="mt-0">

                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h5 class="mb-0">Item: <a href="{% url 'warehouse:detail_incoming' incoming.id %}" target="_blank">{{incoming.item.item_name}}</a></h5>
                                            </div>
                                            <div class="col-md-6 col-12 pull-right">
                                                <h5 class="mb-0">Form No.: <a href="{% url 'warehouse:checker_page' incoming.id %}" target="_blank">{{incoming.form_no}}</a></h5>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6 col-12">
                                                <h5 class="mb-0">Available: <strong>{{available_incoming}}</strong></h5>
                                            </div>
                                            <div class="col-md-6 col-12 pull-right">
                                                <h5 class="mb-0">Project Site: <strong>{{incoming.project_site}}</strong></h5>
                                            </div>
                                        </div>
                                        <!--<h4 class="mb-0  badge badge-primary">Available: {{available_incoming}}</h4>-->

                                        <hr class="mt-1">

                                        <h4 class="mb-0">General Fields</h4>
                                        <hr class="mt-0">
                                        <div class="form-group">
                                          <!--<label for="timesheetinput1">Base In</label>-->
                                          <div class="position-relative">
                                            <input type="hidden" value={{incoming.id}} name="base_in" id="id_base_in">
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">{{form.trans_date.label}}</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.trans_date|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-calendar"></i>
                                                        </div>
                                                      </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">{{form.form_no.label}}</label>
                                                      <div class="position-relative has-icon-left">
                                                        {{form.form_no|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-clipboard"></i>
                                                        </div>
                                                      </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">Transaction Type</label>
                                          <div class="position-relative">
                                            {{form.trans_type|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">{{form.project_site.label}}</label>
                                                      <div class="position-relative">
                                                        {{form.project_site|add_class:"form-control"}}
                                                      </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">Released by</label>
                                                      <div class="position-relative">
                                                        {{form.released_by|add_class:"form-control"}}
                                                      </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.released_to.label}}</label>
                                          <div class="position-relative">
                                            {{form.released_to|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.released_out.label}}</label>
                                          <div class="position-relative">
                                            {{form.released_out|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="well">
                                            <div class="row">
                                                <div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">{{form.quantity.label}}</label>
                                                      <div class="position-relative has-icon-left">
                                                        <!--<input type="number" name="quantity" step="1" class="form-control" required id="id_quantity" min=0 max={{available_incoming}}>-->
                                                        {{form.quantity|add_class:"form-control"}}
                                                        <div class="form-control-position">
                                                          <i class="la la-money"></i>
                                                        </div>
                                                      </div>
                        						</div>
                        						<div class="form-group col-md-6 col-12">
                        							<label for="timesheetinput1">{{form.unit.label}}</label>
                                                      <div class="position-relative">
                                                        {{form.unit|add_class:"form-control"}}
                                                      </div>
                        						</div>
                                            </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.details.label}}</label>
                                          <div class="position-relative">
                                            {{form.details|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.attachment.label}}</label>
                                          <div class="position-relative">
                                            {{form.attachment|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.item_work.label}}</label>
                                          <div class="position-relative">
                                            {{form.item_work|add_class:"form-control"}}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                          <label for="timesheetinput1">{{form.status.label}}</label>
                                          <div class="position-relative">
                                            {% if request.user|has_group:"Warehouse Level 3" %}
                                                {{form.status|add_class:"form-control"}}
                                            {% else %}
                                                <input type="text" id="id_status" name="status" value="For Verification" class="form-control" readonly>
                                            {% endif %}
                                          </div>
                                        </div>

                                        <div class="form-group">
                                            {{form.created_date|attr:"hidden"|add_class:"form-control"}}
                                            {{form.updated_at|attr:"hidden"|add_class:"form-control"}}
                                            {{form.created_by|attr:"hidden"|add_class:"form-control"}}
                                            {{form.modified_by|attr:"hidden"|add_class:"form-control"}}
                                        </div>

                                    </div>
        						</div>
                              </div>

                              <div class="form-actions right">
                                <button type="submit" class="btn btn-pink"><i class="la la-check-square-o"></i> Submit</button>
                              </div>

                            </form>

        				</div>
        			</div>
        		</div>
    		</form>
    	</div>

    </section>

{% endblock body_block %}